body{
    background-color: rgb(15, 6, 23);
}
h2{
    color: white;
}
.set_sidedata_heading{
    margin: -620px 0 0 66%;
}
#box1{
    
    margin: 0px 0 0 65%;
    border: solid 1px black;
    width: 400px;
    height: 600px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2,1fr);
    overflow: scroll;
}
#box1 img{
    border-radius: 2%;
    margin-left: 5px;
    width: 190px ;
    height: 300px;
}
#box1>div>p{
    color: white;
}

#box2 {
    margin-top: -10px;
    display: flex;
}
.cl1{
    overflow-x:auto;
}
.cl1>div{
    position:relative; 
        
          transition: 0.5s;
}
.cl1::-webkit-scrollbar{
        
    visibility: hidden;
    }
    

#box2>div {
    margin: 13px;
    width: 250px;
    height: 430px;
    /* border:2px solid blue; */
    background-color: white;
    border-radius: 15px;
}
#box2>div:hover{
    width:250px;
    height:350px;
}
h4{
    color: white;
}

#box2>div>img {
    width: 250px;
    height: 347px;
    border-radius: 15px;
    text-align: center;

}
#box2>div>img:hover{
    width:270px;
    height:380px;
    opacity: 1;
}

#box2>div>p {
    color: white;
}



#box3 {
    display: flex;
}

#box3>div {
    margin: 13px;
    width: 250px;
    height: 430px;
    /* border:2px solid blue; */
    background-color: white;
    border-radius: 15px;
}
#box3>div:hover{
    width:250px;
    height:350px;
}

#box3>div>img {
    width: 250px;
    height: 347px;
    border-radius: 15px;
    text-align: center;

}
#box3>div>img:hover{
    width:270px;
    height:380px;
    opacity: 1;
}

#box3>div>p {
    color: white;
}



#box4 {
    display: flex;
}

#box4>div {
    margin: 13px;
    width: 250px;
    height: 430px;
    /* border:2px solid blue; */
    background-color: white;
    border-radius: 15px;
}
#box4>div:hover{
    width:250px;
    height:350px;
}

#box4>div>img {
    width: 250px;
    height: 347px;
    border-radius: 15px;
    text-align: center;

}
#box4>div>img:hover{
    width:270px;
    height:380px;
    opacity: 1;
}

#box4>div>p {
    color: white;
}

#premium{
    border: solid 0.1px black;
    background-color: rgb(64,26,76);
    width: 852px;
    height: 60px;
    color:white;
    margin-top: -6px;
}
#premium>h4{
    margin: 20px 0 0 20px;
}

#buyy{
    border: solid 1px black;
    margin-left: 690px;
    margin-top: -24px;
    background-color: blueviolet;
    width:120px;
    height: 30px;
    border-radius: 5px;

}
#buy{
    margin-top: 5px;
    margin-left: 10px;
    
}
#buy>a{
    text-decoration: none;
    color: white;
}
#sharebox{
    border: solid 1px black;
    background-color: rgb(41, 4, 63);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 70px;
    border: 2px;
}
#side{
    background-color: black;
    width: 1px;
    height: 70px;
}
#sharebox i{
    color: white;
}
h3{
    margin-left: 15px;
    margin-top :90px;
    color: white;
}

